<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${channel.name}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="chat-box">
    <div class="chat-header">
        <h1 th:text="${channel.name}"></h1>
    </div>
    <div id="messages" class="chat-messages"></div>
    <div class="chat-input-container">
        <textarea id="message-input" placeholder="Type your message..."></textarea>
        <button id="send-button">Send</button>
    </div>
    <input type="hidden" id="channel-id" th:value="${channel.id}">
    <input type="hidden" id="user-id">
</div>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>
